.select-menu {
  width: 100%;
  max-width: 450px;
  cursor: pointer;
  position: relative;
  margin-top: 20px;
}

.select {
  background-color: #fff;
  padding: 20px;
  color:  #201e1e;
  font-weight: 500;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-list {
  position: absolute;
  width: 100%;
  background-color: #fff ;
  border-radius: 6px;
  margin-top: 14px;
  padding: 0 20px;
  max-height: 180px;
  overflow-y: auto;
  transition: height 0.2s linear;
  height: 0;
}

.options-list.active {
  height: auto;
  max-height: 180px;
}

.option {
  padding: 8px 0;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
  color: #201e1e;
}

.option:hover,
.option.selected {
  color: #9e9e9e;
}

.options-list::-webkit-scrollbar {
  width: 4px;
  background-color: #eee;
}

.options-list::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
}

@media (max-width: 600px) {
  .select-menu {
    width: 100%;
    max-width: 350px;
  }
}
